.ads-ad {
   background: rgb(254, 251, 231);
   padding: 10px;
   border-radius: 5px;
   max-height: 65px;
   overflow: scroll;
   border: 1px solid rgb(222, 167, 57);
}

.ads-ad:before {
   content: "Advert";
   background: #ffe93e;
   padding: 1px 6px;
   margin-bottom: 5px;
   display: inline-block;
   border-radius: 3px;
   text-transform: uppercase;
   font-size: .75em;
   letter-spacing: .05em;
   font-weight: 500;
}